/*
COLOR TEMPLATE
#0B2027 - Rich Black
#499167 - Sea Green
#D1BCE3 - Thistle
#228CDB - Tufts Blue
#65C9B5 - Tiffany Blue
*/

body {
    background-color: #499167;
    font-size: 100%;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1.5em;
}

.homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    width: 20%;
    height: 20%;
}

div {
    border-top: 1px solid #65C9B5;
}

.divSectionRight {
    float: right;
}

.divSectionLeft {
    float: left;
}

/* vvv Nav Bar Styling vvv */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B2027;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #65C9B5;
}

.active {
    background-color: #228CDB;
  }

/* ^^^ Nav Bar Styling ^^^ */